
{% extends 'layout/base.html.twig' %}

{% block title 'program list' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1> {{ pluralize(programs|length, 'program', 'programs') }}✅</h1>
     {% for prog in programs %}
         <article>
                <h1>  <a href="{{path('app_programs_show', {id: prog.id})}}" class=" text-muted text-decoration-none text-secondary" >  {{prog.name}} </a> </h1>
                <p  class=" text-break "> {{prog.description|u.truncate(55, '...', false) }} </p>
              

         </article>
      {% endfor %}
</div>
{% endblock %}
