{% for type, messages in app.flashes %}
                {% for message in messages %}
                    <div class="m-3  alert alert-{{type}} rounded" role= "alert" >
                        {{ message }}
                    </div>
                {% endfor %}
{% endfor %}