<div id="footer-wrapper">
					<footer id="footer" class="container">

						<div class="row">
							
							<div class="col-8 col-8-medium col-8-small">

							 <!-- Comment Form Start -->
								  {{ render(path('new_comment')) }}
								<!-- Comment Form End -->
							</div>
							<div class="col-4 col-4-medium col-4-small">

								<!-- Contact -->
									<section class="widget contact last">
										<h3>Contact Us</h3>
										<ul>
											<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
											<li><a href="https://www.facebook.com/profile.php?id=100069495773074" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
											<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
											<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
											<li><a href="#" class="icon brands fa-pinterest"><span class="label">Pinterest</span></a></li>
										</ul>
										 <p>YAOUNDE 1er<br />
										Rue Nachtchigal<br />
										(1.057)</p> 
										<p> - fixe (+237)242111313  <br/>
											- mobile (+237)698855353 / (+237)673633323 </p>
									</section>

							</div>
						</div>
					
						<div class="row">
							<div class="col-12 text-center mx-auto">
								<div id="copyright">
									<ul class="menu">
										<li class="text-muted"> 
											<small>
												&copy;  {{ 'now'|date('Y') }} &middot;
												Built with <span class="text-danger"> &hearts; </span>   by <a target="_blank" href="https://arseneruben.github.io/monCv/"> Arsene Fokam P</a></p>
											</small>
                   				 		</li>
									</ul>
								</div>
							</div>
						</div>
					</footer>
</div>
