
{% extends 'layout/base.html.twig' %}

{% block title 'new video'  %}

{% block body %}
<div class="row">
	<br/>
 	<div class="col-md-6 mx-auto">
 		<article>
			<h1>  Create Video Meditation</h1>
			<br/>
			{{include('partials/_form.html.twig',{'submitButtonText':'Create video', 'returnRoute':'app_videos'} )}}

		</article>
		
	</div>
</div>

{% endblock %}
