{% extends 'layout/base.html.twig' %}

{% block title 'new advertisement'  %}

{% block body %}
<div class="row">
 	<div class="col-md-6 mx-auto">
 		<article>
			<h1>  Create Pin</h1>
			{{include('partials/_form.html.twig',{'submitButtonText':'Create pin'} )}}

		</article>
		<a href="{{path('app_home')}}"> Go back </a>
	</div>
</div>

{% endblock %}
