
{% extends 'layout/base.html.twig' %}

{% block title 'edit advertisement #' ~ advert.id  %}

{% block body %}
    <div class="row">
    <div class="col-md-6 mx-auto">
    <article>
        <h1>  Edit advertisement #  {{advert.id}}</h1>
        {{include('partials/_form.html.twig',{'submitButtonText':'Update advertisement'})}}

    </article>
    </div>
    </div>
    <a href="{{path('app_adverts')}}"> Go back </a>
{% endblock %}
