{% extends 'layout/base.html.twig' %}

{% block body %}
    <h1>505 </h1>

    <p>
        HTTP Version Not Supported. Checkout for any URL
        misspelling or <a href="{{ path('app_home') }}">return to the homepage</a>.
    </p>
{% endblock %}